{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  </head>
  
  <body style="background-image: url('{% static './images/b.png' %}'); background-repeat: no-repeat; background-size: 2300px;">
    <div class="col-md-2">
        <div class="row mt-2">
                <div class="container-fluid">
                  <a  href="#"><img src="{% static './images/logoo.png' %}" alt="coffee img" width="210px"></a>
                
                  <div>
                    <ul>
                      
                      {% if user.is_authenticated %}
                      <li>      
                        <a class=" text-white" href="{% url 'userlogout' %}">Logout</a>
                      </li>
                      {% else %}
                      <li>
                        <a class="text-white" href="{% url 'userlogin' %}">Sign In</a>
                      </li>
                      <li>
                        <a class=" text-white" aria-current="page" href="{% url 'register' %}">Join Now</a>
                      </li>
                      {% endif %}
              
                  </div>
                </div>
            
              <div>
                
              
              <div style="margin-left: 30%; margin-top: 50%; color: blanchedalmond; ;">
                <h1 style="font-size: 90px;">COFFEE</h1>
            
                <h3 style="font-size: 40px;">IS OUR</h3>
                
                <h1 style="font-size: 90px;">PASSION</h1>
                
                <span style="font-size: 30px;">Try it  Today Love it forever</span>
              </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>